<!-- templates/home.html -->
{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
{% if user.is_authenticated %}
  Hi {{ user.username }}!<br />
  <p><a href="{% url 'registration' %}">Driver registration</a></p>
  <p><a href="{% url 'selection' %}">Select a ride</a></p>
  <p><a href="{% url 'request' %}">Request a ride</a></p>
  <p><a href="{% url 'edit' %}">Edit a requested ride</a></p>
  <p><a href="{% url 'view' %}">View ride status</a></p>
  <p><a href="{% url 'search' %}">Search for a ride</a></p>
  <p><a href="{% url 'logout' %}">Log Out</a></p>

 

{% else %}
  <p>You are not logged in</p>
  <a href="{% url 'login' %}">Log In</a>
{% endif %}
{% endblock %}