<!-- templates/home.html -->
{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
{% if user.is_authenticated %}
  Hi {{ user.username }}!<br /><br>
  <p><a href="{% url 'registration' %}">Driver registration</a></p>
  <p><a href="{% url 'personal' %}">Personal Info (Driver Only)</a></p>
  
  <p><a href="{% url 'request' %}">Request a ride</a></p>
  <p><a href="{% url 'myrides_rider' %}">My rides (Rider)</a></p>
  <p><a href="{% url 'myrides_driver' %}">My rides (Driver Only)</a></p>
  
  <p><a href="{% url 'search_driver' %}">Search for a ride (Driver Only)</a></p>
  
  
  <br><p><a href="{% url 'logout' %}">Log Out</a></p>

 

{% else %}
  <p>You are not logged in</p>
  <a href="{% url 'login' %}">Log In</a>
{% endif %}
{% endblock %}