<!-- templates/registration/signup.html -->
{% extends "base.html" %}

{% block title %}MyRides{% endblock %}

{% block content %}
  <h2>My Rides</h2>
  <p><a href="{% url 'home' %}">Home</a></p>

  <h3>Open Rides</h3>
  {% for ride in data1%}
  <a href="{% url 'view'  ride.id  %}">{{ride}}</a>   <a href="{% url 'update'  ride.id  %}"> - Update</a><br>
  {% endfor%}
  
  <h3>Confirmmed Rides</h3>
  {% for ride in data2%}
  <a href="{% url 'view'  ride.id  %}">{{ride}}</a>   <a href="{% url 'update'  ride.id  %}"> - Update</a><br>
  {% endfor%}

  <h3>Finished Rides</h3>
  {% for ride in data3%}
  <a href="{% url 'view'  ride.id  %}">{{ride}}</a>   <a href="{% url 'update'  ride.id  %}"> - Update</a><br>
  {% endfor%}
  <p><a href="{% url 'logout' %}">Log Out</a></p>

{% endblock %}