<!-- templates/registration/signup.html -->
{% extends "base.html" %}

{% block title %}MyRides{% endblock %}

{% block content %}
  <p><a href="{% url 'home' %}">Home</a></p>
  </br>

  <h2>My Rides</h2>

  <h3>Open Rides</h3>
  {% for ride in data1%}
  <a href="{% url 'view_d'  ride.id  %}">{{ride}}</a> 
   <a href="{% url 'update'  ride.id  %}"> - Update</a>
   <a href="{% url 'owner_delete'  ride.id  %}"> - Delete</a><br>
  {% endfor%}

  
  <h3>Confirmed Rides</h3>
  {% for ride in data2%}
  <a href="{% url 'view_d'  ride.id  %}">{{ride}}</a>  <br>
  {% endfor%}

  <h3>Finished Rides</h3>
  {% for ride in data3%}
  <a href="{% url 'view_d'  ride.id  %}">{{ride}}</a> <br>
  {% endfor%}

  <br> </br>
  
  <h2>Shared Rides</h2>

  <h3>Open Rides</h3>
  {% for ride in data1_2%}
  <a href="{% url 'view_d'  ride.id  %}">{{ride}}</a> 
   <a href="{% url 'sharer_delete'  ride.id  %}"> - Delete</a><br>
  {% endfor%}

  <h3>Confirmed Rides</h3>
  {% for ride in data2_2%}
  <a href="{% url 'view_d'  ride.id  %}">{{ride}}</a>  <br>
  {% endfor%}
  
  <h3>Finished Rides</h3>
  {% for ride in data3_2%}
  <a href="{% url 'view_d'  ride.id  %}">{{ride}}</a>  <br>
  {% endfor%}

  </br>
  <p><a href="{% url 'logout' %}">Log Out</a></p>

{% endblock %}